:root {
  --background: #0a0908;
  --col1: #0d021d;
  --col2: #13032b;
  --col3: #190339;
  --col4: #1f0447;
  --col5: #250455;
  --col6: #28055c;
  --col7: #2b0563;
  --col8: #2e056a;
  --col9: #310571;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  text-align: center;
  background-color: var(--col9);
}

.container2 {
  padding-top: 30px;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home__Title{
  color: white;
}
.home__Title > h1{
  color: #caf0f8;
}