.profile__Avatar {
    margin-right: 8px;
}
.profile__container {
  /* padding: 7px; */
  font-weight: 200;
  padding:5px 8px;
  border-radius: 700px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 250px;
  color: #d9f9ff;
  margin: auto;
  display: inline-flex;
  border: 2px solid white;
}
.profile__container > p {
    height: 10px;
}
